<!DOCTYPE html>
<html ng-app="efficientApp">

	<body>
		<div ng-controller="taskController as taskManager">
		 	<h1>Task Manager List {{taskManager.globalTarget}}</h1>
	 		<input type="text" placeholder="Someone's Name" ng-model="taskManager.taskName">
		 		<button ng-click="taskManager.addTask()">Add</button>
		 	</input>
		 	<ul>
		 		<div ng-repeat="task in taskManager.tasks">
		 			<button ng-click="taskManager.removeTask($index)"> x </button>
		 			{{task.name}}
		 		</div>
		 	</ul>
		</div>
		
	</body>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>
	<script src="js/app.js"></script>
	<script src="js/runBlock.js"></script>
	<script src="controllers/task.controller.js"></script>
	<script src="services/task.service.js"></script>
</html>

<!--script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>