<!DOCTYPE html>
<html ng-app="efficientApp">

	<body>
		<div ng-controller="todoController as todoList">
		 	<h1>Todo List {{todoList.globalTarget}}</h1>
	 		<input type="text" placeholder="Someone's Name" ng-model="todoList.targetName">
		 		<button ng-click="todoList.addTarget()">Add</button>
		 	</input>
		 	<ul>
		 		<div ng-repeat="target in todoList.targets">
		 			<button ng-click="todoList.removeTarget($index)"> x </button>
		 			{{target.name}}
		 		</div>
		 	</ul>
		</div>
		
	</body>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>
	<script src="js/app.js"></script>
	<script src="controllers/targets-controller.js"></script>
</html>

<!--script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>