<!DOCTYPE html>
<html ng-app="efficientApp">

	<body>
		<div ng-controller="todoController as todo">
		 	<h1>Todo List {{todo.globalTarget}}</h1>
	 		<input type="text" placeholder="Someone's Name" ng-model="todo.taskName">
		 		<button ng-click="todo.addTask()">Add</button>
		 	</input>
		 	<ul>
		 		<div ng-repeat="task in todo.tasks">
		 			<button ng-click="todo.removeTask($index)"> x </button>
		 			{{task.name}}
		 		</div>
		 	</ul>
		</div>
		
	</body>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>
	<script src="js/app.js"></script>
	<script src="controllers/task-controller.js"></script>
	<script src="models/task-service.js"></script>
</html>

<!--script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>